<!DOCTYPE html>
<html lang="en">

<head>
<title>Simil</title>
<meta charset="utf-8">
<link rel="stylesheet" href= "../../supp/css/simil.css">

</head>

<body>
<div id="wrapper">
<h1 id="header"> <img src="simillogo.gif" alt = "Simil" height="117" width="619"> </h1>
<h2 id = "header"> Unicycle Riders  
<button type="button">Join Now!</button> </h2>
<div id="nav">
<ul>
<li><a href="home.html">Your Home</a> </li>
<li><a href="panels.html">Your Panels</a> </li>
<li><a href="music.html"> Your Friends</a> </li>
<li><a href="jobs.html">Your Messages</a> </li>
</ul>	
</div>

<div id="nav2">
<h4> Members</h4>
<ul>
<li><a href="index.html">Matthew</a> </li>
<li><a href="menu.html">Jarred</a> </li>
<li><a href="music.html"> Jake</a> </li>
<li><a href="jobs.html">Cindy</a> </li>
</ul>	
</div>

<div id="content">
<p>The place where unicycle riders meet!</p>

<h2> Hot</h2>
<p class="details">
<ul>

<li><a href = "https://www.youtube.com/watch?v=F3wtwcGi0OQ"> Check out this awesome video</a></li>
<li><a href = "https://www.youtube.com/watch?v=F3wtwcGi0OQ"> How to learn new tricks</a> </li>
</ul>
</p>

<h2> New</h2>
<p class="details">
<ul>

<li><a href = "https://www.youtube.com/watch?v=F3wtwcGi0OQ"> Where can I learn?</a></li>
<li><a href = "https://www.youtube.com/watch?v=F3wtwcGi0OQ"> How to learn new tricks</a> </li>
</ul>
</p>

<h2> Events</h2>
<p class="details">
<ul>

<li><a href = "https://www.youtube.com/watch?v=F3wtwcGi0OQ"> Cincinnati Meetup, April 1</a></li>
<li><a href = "https://www.youtube.com/watch?v=F3wtwcGi0OQ"> Lessons taught at 123 Foobar Street</a> </li>
</ul>
</p>


<br class="clearleft">
</div>


<div id="footer">
<br >
<br >

 Copyright &copy; 2013 JavaJam Coffee House
<br >

<a href="mailto:beckerichm1@nku.edu">SimilAdmin@simil.com</a>
This document was last modified on:
<script type="text/javascript">
<!--
document.write(document.lastModified);
//-->
</script>

</div>
</div>
</body>

</html>