
 @font-face {
    font-family: 'Arimo';   
    src: url('/Simil/supp/fonts/Arimo/Arimo-Regular.ttf');
}
  @font-face {
    font-family: 'Damion';  
    src: url('/Simil/supp/fonts/Damion/Damion-Regular.ttf');
} 

html{
    background-color:#D8D8C0;
}
body {  /* background-image: url(background.gif); */
	/* background-color:#a0a0a0;*/
	color:#6f907b;
	font-family: 'Arimo';
	height:100%;
	margin:0px;
	padding:0px;
	}
	

.noselect{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
#homeWrapper{
	border-radius: 10px;
	position: absolute;
	top:-10px;
	left: 10%;
	right: 10%;
	background-color:#6f907b;
	text-align:center;
	min-height:475px;
	
}
#logo{
    color:#F0F0D8; 
	/*color:#F7906D; */
	/*color:#D04248;*/
	/*color:#FDCF6C;*/
    font-family: 'Damion';   
    font-size:45px;
}
#header{
	background-color: #3b5998;
	color:#000000;
	text-align:center;
	margin:0;
}

#headerText{
	text-align:center;
}
	
label.error{
	display:none;
	float: none;
	color: #A62A2A;
	font-size: 12px;
}

h2 {	text-transform: uppercase;
	background-color: #f7f7f7;
	color: #663300;
	font-size: 1.2em;
	border-bottom: 1px solid #000000;
	padding: 5px 0 0 5px;
	margin-right: 20px;
	clear: left;}
	

h4{
	color: #3b5998;
}
	
#nav h4{
	margin-left:0px;
	margin-right:0px;
    color: #F0F0D8;

}
#nav { 
	position:fixed;
	z-index:1;
	height:64px;
	text-align: left;
	float: left;
	text-align:left;   
	background-color:#6f907b;
	display:block;
	width:100%;
	vertical-align:middle;
	min-width:800px;   
	}
	
#nav li{
	display:block;
	
}
#linkContainer{
	margin-right:15px;
	display:block;
/* 	position:absolute;
	margin-top:10px; */
	
}
	
div#logoDiv{
	display:inline-block;
	padding-left: 10px;
}
#searchDiv{
	height:64px;
	padding-right:10px;
	padding-left:10px;
	display:inline-block;
	max-width: 600px;
	background-color:#587362;
	float:left;
}
.searchForm{
	display:inline-block;
}
.searchBar{
	display:block;
	
}
.searchButton{
	text-align:center;
	display:inline-block;
	width:75px;
	border-radius:5px;
	
}
button#searchButton.button{
    padding:5px 10px;   	
}
.searchInputHolder{
	display:inline-block;
	margin:0px;
    padding:0px;
}

#logoSpan{
	color:#F0F0D8; 
}
#logoutDiv{
	text-align:center;
	display:inline-block;
	height:64px;
	width:100px;
	z-index:3;
	color:white;
}
#navDiv{
	float:right;
	display:inline-block;
}

#nav a { 
	text-decoration: none;
	padding-bottom: 15px;}
#nav a:link{color: #3b5998;}
#nav a:visited{color:#5b59b8;}
#nav a:hover{color:#7b5998;}
#nav ul{list-style-type:none;}

#nav2 { 
	float: right;
	width: 150px;
	
	padding-top: 10px;}
	
#nav2 a { text-decoration: none;
	padding-bottom: 15px;}
	
#nav2 a:link{color: #3b5998;}
#nav2 a:visited{color:#5b59b8;}
#nav2 a:hover{color:#7b5998;}
#nav2 ul{list-style-type:none;}
	

#footer {background-color: #3b5998;
	   color:#000000;
	   font-size:.60em;
	   font-style: italic;
	   text-align: center;
	   padding: 20px 0px 20px 0px;
	   clear: both;}
#footer a:link{color:#ffffff;}
#footer a:visited{color:#7b59d8;}
#footer a:hover{color:#7b5998;}


#sideMenu{
    position: fixed;
    width: 160px;
    left:-145px;
    top: 64px;
    height:100vh;
    z-index:1;
    background-color: #bc5a5a;
    box-shadow: 0px -2px 15px #888888;
    text-align:center;
    
    
}
#sideMenu ul{
	list-style-type:none;
	padding-left:0px;
	display:inline-block;
	width:100%;
	border-radius:3px;
}
#sideMenu a{
    
}
#sideMenu li{
    background-color: gray;
    color: white;
}
.menuItem{
    height:30px;
    padding-top:10px;
    display:inline-block;
    margin:auto;
    width:100%;
    background-color:#a95151;
}
#sideMenu ul li a:hover{
    background-color:#f8eeee;
}


.details{padding-left: 20%;
	 padding-right:20%;}	

#wrapper {
	top:0px;
	left:0px;
	position:relative;
    width:100%;
    margin:0px;
    background-color:#D8D8C0;
    min-width: 700px;
    /* box-shadow: 3px 3px; */
    margin-left: auto;
    margin-right: auto;
    width:100%
	}
#content{
	margin-top: 20px;
	overflow:hidden;
	position:relative;
    padding: 74px 20px 30px 20px;
    margin:auto;
	width:90%;
}

img { border-style:none;
	}
.floatright{	float: right;
	    	padding-left: 20px;}

.floatleft{ float: left;
	    padding: 0 20px 20px 0;}

.clearleft{ clear: left;}


table {width: 75%;
	margin:auto;}

td, th{padding: 10px}

tr:nth-of-type(odd) {background-color: #ccaa66;}


.formLabel{
	margin:9px 0px;
	display:inline-block;
	float: left;
	text-align: right;
	width: 140px;
	padding-right: 10px;
}

input{
	display: inline;
	margin-bottom: 20px;}

textarea{display:block;
	margin-bottom: 20px;}

.link{
	margin-bottom:3px;
}
.link2{
	color:#F0F0D8;
	margin-bottom:5px;
}
a.link:visited{
	color:#6f907b;
}
a.link2:visited{
	color:#F0F0D8;
}
.homeHeader{
	margin:12px 0 10px 0;
}
.button {
    background-color: #6f907b; /* Green */
    border: none;
    color: white;
    padding: 3px 50px;
    border-radius:2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.formBox{
    border-radius:5px;
    background-color:#D8D8C0;
    display:inline-block;
    width:200px;
    margin:auto;
}
.formBox2{
    border-radius:5px;
    background-color:#D8D8C0;
    display:inline-block;
    width:200px;
    margin:auto;
}
.formElement{
	display:flex;
}
.box{
	background-color:#D8D8C0;
    display:inline-block;
    margin:auto;
}

.inputHolder{
	margin:0px 0px 10px 0px;
	padding:0px;
}

input {
  border-radius:5px;
  margin: 5px;
  padding: 5px 2px;
  border: solid 1px #6f907b;
  transition: box-shadow 0.3s, border 0.3s;
}
input:focus,
input.focus {
    border: solid 1px #6f907b;
    box-shadow: 0 0 5px 1px #6f907b;
border-color    
    }
    
input[type="submit"] {
  border-radius:0px;
  
}
input[type="submit"]:focus,
input[type="submit"].focus {
    border: solid 1px #6f907b;
    box-shadow: 0 0 5px 1px #6f907b;
    }
p.requiredForm{
	display:inline-block;
	margin:0px;
	padding:0px;
	
}
.centerDiv{
	width:80%;
	margin: auto;
	text-align:center;
	color: #F0F0D8;
	background-color: #6f907b;
	border-radius: 5px;
}
.checkDiv{
	text-align:center;
	padding-top:10px;
    width:80%;
    margin: auto;
    color: #F0F0D8;
    background-color: #6f907b;
    border-radius: 5px;
}
.checkElement{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	
}

.checkElement input[type=checkbox]{
    display:none;    
    background-color: #A8BCAF;
}

.checkElement input[type=checkbox]:checked + .checkLabel{
    background-color: #008000;
    
}
.checked{
	background-color:#A8BCAF;
}
.orderedList{
	margin:auto;
	padding-bottom:20px;   
   /*  columns: 5 30px;
    -moz-columns: 5 30px;
    -webkit-columns: 5 30px; */
}
.checkLabel{
	width: 150px;
	height: 40px;
	margin:5px;
	display: inline-block;
	text-align:center;
	border-radius:5px;
    padding-top:20px;	
    background-color: #A8BCAF;
    
   
  /*   border:1px solid black; */
}

#interestList{
	margin: 20px;
}
#panelList{
    margin: 20px;
}
#signUpForm{
	width:400px;
	display:inline-block;  
}

h1#panelName{
	
}
p#panelDescription{
	
}

#profileDiv{
	margin-top:25px;
	text-align: center;
}
#userName{
	font-size:40px;
	margin:15px;
}
#userImage{
	display:inline-block;
	height:200px;
	width:200px;
	background-color:gray;
}
#bioDiv{
	margin:10px;
    color:white;
    display:inline-block;
    width:70%;
    background-color:gray;
    border: 1px solid black;
}
#userPanelDiv{
	text-align:left;
	margin:10px;
    color:white;
    display:inline-block;
    width:70%;
    background-color:gray;
    border: 1px solid black;
}
#userBuddiesDiv{
	margin:10px;
    color:white;
    display:inline-block;
    width:70%;
    background-color:gray;
    border: 1px solid black;
}
#userInterestDiv{
	margin:10px;
    color:white;
    display:inline-block;
    width:70%;
    background-color:gray;
    border: 1px solid black;
}

#panelDiv{
	width:95%;
	margin:auto;

}

#postsDiv{
    margin:10px 0px;
    color:white;
    display:inline-block;
    width:100%;
    background-color:#8ba695;
    border: 1px solid black;
}
#popularPostsDiv{
    margin:10px 0px;
    color:white;
    display:inline-block;
    width:100%;
    background-color:#8ba695;
    border: 1px solid black;
}
