
 @font-face {
    font-family: 'Arimo';   
    src: url('/Simil/supp/fonts/Arimo/Arimo-Regular.ttf');
}
  @font-face {
    font-family: 'Damion';  
    src: url('/Simil/supp/fonts/Damion/Damion-Regular.ttf');
} 

html{
    background-color:#D8D8C0;
}
body {  /* background-image: url(background.gif); */
	/* background-color:#a0a0a0;*/
	color:#6f907b;
	font-family: 'Arimo';
	height:100%;
	margin:0px;
	padding:0px;
	}
#homeWrapper{
	border-radius: 10px;
	position: absolute;
	top:-10px;
	left: 10%;
	right: 10%;
	background-color:#6f907b;
	text-align:center;
	min-height:475px;
	
}
#logo{
    color:#F0F0D8; 
	/*color:#F7906D; */
	/*color:#D04248;*/
	/*color:#FDCF6C;*/
	
    font-family: 'Damion';   
    font-size:45px;
}
#header{
	background-color: #3b5998;
	color:#000000;
	text-align:center;
	margin:0;}
	
label.error{
	display:none;
	float: none;
	color: #A62A2A;
	font-size: 12px;
}

h2 {	text-transform: uppercase;
	background-color: #f7f7f7;
	color: #663300;
	font-size: 1.2em;
	border-bottom: 1px solid #000000;
	padding: 5px 0 0 5px;
	margin-right: 20px;
	clear: left;}
	
h4{
	color: #3b5998;
}
	

#nav { 
	height:64px;
	text-align: left;
	float: left;
	text-align:left;   
	background-color:#6f907b;
	display:block;
	width:100%;
	vertical-align:middle;
	
	}
	
#nav li{
	display:block;
	
}
#linkContainer{
	display:inline-block;
/* 	position:absolute;
	margin-top:10px; */
	
}
	
div#logoDiv{
	display:inline-block;
	padding-left: 10px;
}

#logoSpan{
	color:#F0F0D8; 
}


#nav a { 
	text-decoration: none;
	padding-bottom: 15px;}
#nav a:link{color: #3b5998;}
#nav a:visited{color:#5b59b8;}
#nav a:hover{color:#7b5998;}
#nav ul{list-style-type:none;}

#nav2 { 
	float: right;
	width: 150px;
	
	padding-top: 10px;}
	
#nav2 a { text-decoration: none;
	padding-bottom: 15px;}
	
#nav2 a:link{color: #3b5998;}
#nav2 a:visited{color:#5b59b8;}
#nav2 a:hover{color:#7b5998;}
#nav2 ul{list-style-type:none;}
	

#footer {background-color: #3b5998;
	   color:#000000;
	   font-size:.60em;
	   font-style: italic;
	   text-align: center;
	   padding: 20px 0px 20px 0px;
	   clear: both;}
#footer a:link{color:#ffffff;}
#footer a:visited{color:#7b59d8;}
#footer a:hover{color:#7b5998;}


#sideMenu{
    position: absolute;
    width: 160px;
    left:-145px;
    top: 64px;
    height:100vh;
    z-index:1;
    background-color: #bc5a5a;
    box-shadow: 0px -2px 15px #888888;
    
    
}
#sideMenu ul{
	list-style-type:none;
}
#sideMenu a{
    
}
#sideMenu{
    
}


.details{padding-left: 20%;
	 padding-right:20%;}	

#wrapper {
	top:0px;
	left:0px;
	position:relative;
    width:100%;
    margin:0px;
    background-color:#D8D8C0;
    min-width: 700px;
    /* box-shadow: 3px 3px; */
    margin-left: auto;
    margin-right: auto;
    width:100%
	}
#content{
	overflow:hidden;
	position:relative;
	display:inline-block;  
    padding: 10px 20px 30px 20px;
    margin-right: 150px;
    margin-left:15px;
	width:90%;
}

img { border-style:none;
	}
.floatright{	float: right;
	    	padding-left: 20px;}

.floatleft{ float: left;
	    padding: 0 20px 20px 0;}

.clearleft{ clear: left;}


table {width: 75%;
	margin:auto;}

td, th{padding: 10px}

tr:nth-of-type(odd) {background-color: #ccaa66;}


label{
	margin:9px 0px;
	display:inline-block;
	float: left;
	text-align: right;
	width: 120px;
	padding-right: 10px;}

input{
	display: inline;
	margin-bottom: 20px;}

textarea{display:block;
	margin-bottom: 20px;}

.link{
	margin-bottom:3px;
}
.link2{
	color:#F0F0D8;
	margin-bottom:5px;
}
a.link:visited{
	color:#6f907b;
}
a.link2:visited{
	color:#F0F0D8;
}
.homeHeader{
	margin:12px 0 10px 0;
}
.button {
    background-color: #6f907b; /* Green */
    border: none;
    color: white;
    padding: 3px 50px;
    border-radius:2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.formBox{
    border-radius:5px;
    background-color:#D8D8C0;
    display:inline-block;
    width:200px;
    margin:auto;
}
.formBox2{
    border-radius:5px;
    background-color:#D8D8C0;
    display:inline-block;
    width:200px;
    margin:auto;
}
.formElement{
	display:flex;
}
.box{
	background-color:#D8D8C0;
    display:inline-block;
    margin:auto;
}

.inputHolder{
	margin:0px 0px 10px 0px;
	padding:0px;
}

input {
  border-radius:5px;
  margin: 5px;
  padding: 5px 2px;
  border: solid 1px #6f907b;
  transition: box-shadow 0.3s, border 0.3s;
}
input:focus,
input.focus {
    border: solid 1px #6f907b;
    box-shadow: 0 0 5px 1px #6f907b;
border-color    
    }
    
input[type="submit"] {
  border-radius:0px;
  
}
input[type="submit"]:focus,
input[type="submit"].focus {
    border: solid 1px #6f907b;
    box-shadow: 0 0 5px 1px #6f907b;
    }
p.requiredForm{
	display:inline-block;
	margin:0px;
	padding:0px;
	
}
.centerDiv{
	width:80%;
	margin: auto;
	text-align:center;
	color: #F0F0D8;
	background-color: #6f907b;
	border-radius: 5px;
}
#signUpForm{
	width:400px;
	display:inline-block;  
}